.SellerInvoiceManagement {
  .openbill{
    /deep/.el-dialog__body{
      padding-top:0;
    }
    .demo-ruleForm{
      /deep/.el-form-item{
        margin-bottom:0;
      }
    }
  }
  .OrderManagement{
    //max-width:1350px;
    background:#fff;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .table{
      width:100%;
      background:#fff;
      border-top:1px solid #ddd;
      border-left: 1px solid #ddd;
      font-size:12px;
      color:#333;
      /deep/button{
         span{
           padding:0 12px;
         }
       }
       .infoWrap{
         padding:5px;
         overflow: hidden;
         box-sizing: border-box;
         &>div{
           white-space: nowrap;
         }
         .goods_seller_no{
           font-weight: bold;
           margin-bottom:5px;
           font-size:15px;
           text-align: left;
         }
         .info{
           display: flex;
           text-align: left;
           font-size:12px;
           width:100%;
           align-items: center;
          
           .cont{
             flex:1;
             margin-left:5px;
             p{
               width:100%;
               white-space: normal;
             }
           }
         }
       }
      th{
        background:#f3f3f3;
        line-height:40px;
        text-align: center;
      }
      td{
          padding:8px;
          border-bottom:1px solid #ddd;
          border-right:1px solid #ddd;
          text-align: center;
    
      }
    
    }
  }
  
.tab-list-t{
  margin-bottom:20px;
  .el-input{
    width:300px;
  }
  ul{
    float: left;
   li{
     float: left;
     background:#e3e3e3;
     padding:0 15px;
     margin-right:1px;
     line-height: 40px;
     cursor: pointer;
     &.active{
       background:#0d94fb;
       color:#fff;
    
     }
   }
  }
}
 
  .demo-ruleForm{
    /deep/.el-upload--picture-card {
      width: 80px;
      height: 80px;
      line-height: 80px;
      margin-right:30px;
      .el-icon-plus{
        font-size:20px;
      }
    }
  
    /deep/.el-upload-list--picture-card .el-upload-list__item {
      width: 80px;
      height: 80px;
      ;
    }
  
    .billno{
      display:flex;
      white-space: nowrap;
      margin:10px 0;
    }
  }
  .billdetail{
    /deep/.el-carousel__item{
      text-align: center;
      line-height: 400px;
      img{
        max-height:400px;
        max-width:100%;
      }
     
      h3{
        text-align: left;
        position: absolute;
        bottom:0;
        left:0;
        background:rgba(0,0,0,0.5);
        width:100%;
        height:50px;
        line-height:50px;
        color:#fff;
        padding:10px 20px;
        font-size:28px;
        font-weight: normal;
      }
    }
    
  }
}


