// 全部品牌
.AllBrand{
  width: 100%;
  max-width:1200px;
  margin:0 auto;
  .BrandDetail-tit{
    margin:15px 0;
    background: #fff;
    padding:15px 30px;
    /deep/.el-breadcrumb{
      border-left:2px solid #0d94fb;
      padding-left:10px;
      font-size:18px;
    }
  }
  .all-brand {
  // 品牌信息
  .brand-msg {
    &>.tit {
      padding:0 30px;
      background: #4A5A6A;
      color: #fff;
      font-size: 22px;
      line-height:60px;
      img {
        width: 20px;
        vertical-align: middle;
        margin-right:15px;
      }
    }
    .brand-msg-con {
     padding:20px 30px;
      background: #fff;
      border-bottom: 1px solid #ddd;
      display:flex;
      // 图片信息
      .brand-msg-con-l {
        float: left;
        width:35%;
        .ImgE{
          position: relative;
          &:after{
            top:0;
            left: 0;
            content:"";
            display: block;
            position: absolute;
            width:100%;
            height:100%;
            background: rgba(0,0,0,0.05);
            z-index:1;
          }
        }
        &>ul {
          margin-top:10px;
          li {
            font-size: 16px;
            color: #6B6B6B;
            margin-bottom: 8px;
            white-space: nowrap;
          }
        }
      }
      // 文字信息
      .brand-msg-con-r {
        float: left;
        width:65%;
        &>.tit {
          width: 100%;
          font-size: 28px;
          color: #4A5A6A;
          margin-bottom: 10px;
          .tag {
            background: #0068D7;
            text-align: center;
            font-size: 16px;
            color: #fff;
            margin-left:20px;
            padding:1px 15px;
            img {
              width: 15px;
              vertical-align: middle;
            }
          }
        }
        p {
          font-size: 20px;
          color: #333;
          line-height: 30px;
          margin-bottom: 30px;
          &:last-child {
            font-size:16px;
          }
        }
      }
    }
  }
  // 经营品类
  .management-class {
    border-bottom: 1px solid #ddd;
    &>.list {
      background: #fff;
      padding: 20px 30px;
      display: flex;
      flex-wrap: wrap;
      li {
        width:180px;
        border:1px solid #fff;
        padding: 10px 0;
        margin-right:10px;
        margin-bottom: 10px;
        background: rgb(242, 244, 247);
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        img {
          width: 80px;
          height:80px;
          margin:15px;
        }
        /deep/.ImgE{
          img {
            width: 80px;
            height:80px;
            margin:15px;
          }
        }
        &:hover {
          box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, 0.2)
        }
        &.avtive{
          border-color:#ddd;
        }
      }
    }
  }

  .SearchInput{
    margin: 10px 0 ;
  }
  // 品牌热卖
  .brand-hot {
    border-bottom: 1px solid #ddd;
    .SubstituModelList{
      // float: left;
    }
    .Pagination{
      // float: left;
    }
    // 排序
    .sort-type {
      margin: 10px 0 ;
      .active {
        background: #0068B7;
        color: #fff;
      }
      li {
        width: 195px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: #4A5A6A;
        float: left;
        cursor: pointer;
        position: relative;
        img{
          vertical-align: middle;
        }
      }
    }
  }
}
}
