// 全部品牌
.AllBrand{
  color:#333;
  padding-top:160px;
  background:url("../../../assets/image/brandDetail/bg.jpg") top center no-repeat;
  .BrandDetail-tit{
    margin:15px 0;
    background: #fff;
    padding:15px 30px;
    box-shadow: 0 0 2px 2px #dddd;
    /deep/.el-breadcrumb{
      font-size:14px;
    }
  }
  .all-brand {
  // 品牌信息
  .brand-msg {
    .top{
      color:#fff;
      .title{
        font-size:30px;
        margin-bottom:55px;
      }
      a{
        color:#fff;
      }
    }
    &>.tit {
      &.bg{
        color: #333;
        background:#f5f5f5;
        border:1px solid #d5d5d5;
      }
      font-weight:bolder;
      color:#fff;
      padding:0 30px;
      font-size:18px;
      line-height:55px;
      img {
        width: 20px;
        vertical-align: middle;
        margin-right:15px;
      }
    }
    .brand-msg-con {
      margin-top:80px;
      margin-bottom:20px;
      padding:20px 30px;
      background: #fff;
      border-radius:10px;
      display:flex;
      box-shadow: 0 0 2px 2px #ddd;
      // 图片信息
      .brand-msg-con-l {
        display: inline-block;
        vertical-align: middle;
        margin-right:20px;
        box-sizing: border-box;
        min-width:250px;
        display: flex;
        align-items: center;
        position: relative;
        &:after{
          top:0;
          left: 0;
          content:"";
          display: block;
          position: absolute;
          width:100%;
          height:100%;
          background: rgba(0,0,0,0.05);
          z-index:1;
        }
        .ImgE{
          position: relative;
          text-align: center;
          width:100%;
          /deep/img{
            max-width:100%;
            max-height:100%;
          }
         
        }
        &>ul {
          margin-top:10px;
          li {
            font-size: 16px;
            color: #6B6B6B;
            margin-top: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      // 文字信息
      .brand-msg-con-r {
          display:inline-block;
          vertical-align: middle;
        &>.tit {
          font-size: 22px;
          margin-bottom: 10px;
          font-weight: bold;
          line-height: 1;
          .btn{
            padding:3px 12px;
            border-radius: 3px;
            font-size:14px;
            margin-left:10px;
            vertical-align: top;
          }
        }
        p {
          font-size: 20px;
          color: #333;
          line-height: 30px;
          margin-bottom: 30px;
          &:last-child {
            font-size:16px;
          }
        }
      }
    }
  }
  // 经营品类
  .management-class {
    .nocontent{
      color:#d5d5d5;
      padding:80px;
      text-align: center;
      background: #fff;
    }
    &>.list {
      padding: 20px 30px;
      display: flex;
      flex-wrap: wrap;
      li {
        width:180px;
        border:1px solid #d5d5d5;
        padding: 10px 0;
        margin-right:10px;
        margin-bottom: 10px;
        background: rgb(242, 244, 247);
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        img {
          width: 80px;
          height:80px;
          margin:15px;
        }
        /deep/.ImgE{
          img {
            width: 80px;
            height:80px;
            margin:15px;
          }
        }
        &:hover {
          box-shadow: 0 0 2px 2px #d5d5d5;
        }
        &.avtive{
          border-color:#df3f2f;
          color:#df3f2f;
          background: #fff;
        }
      }
    }
  }

  .SearchInput{
    margin: 10px 0 ;
  }
  // 品牌热卖
  .brand-hot {
    border-bottom: 1px solid #ddd;
    .nocontent{
      padding:80px;
      text-align: center;
      background:#fff;
      color:#d5d5d5;
    }
    .SubstituModelList{
      // float: left;
    }
    .Pagination{
      // float: left;
    }
    // 排序
    .sort-type {
      margin: 10px 0 ;
      .active {
        background: #0068B7;
        color: #fff;
      }
      li {
        width: 195px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: #4A5A6A;
        float: left;
        cursor: pointer;
        position: relative;
        img{
          vertical-align: middle;
        }
      }
    }
  }
}
}
