#brand {
  color:#333;
  .siderList {
    position: fixed;
    transition: 1s;
    transform: translateX(-100px);
    top: 160px;
    background: rgba(74, 90, 106, 1);
    >ul {
      overflow-y: scroll;
      height: 500px;
      padding: 10px 0;

      li {
        width: 70px;
        line-height: 30px;
        text-align: center;
        color: #fff;
      }
    }

    >ul::-webkit-scrollbar {
      width: 4px;
    }

    >li {
      width: 70px;
      line-height: 30px;
      text-align: center;
      color: #fff;
    }
  }
  .siderActive {
    transition: 1s;
    transform: translateX(0)
  }
}
.brand {
  .banner {
    .bg {
      width: 100%;
    }
  }
  // 最新入驻
  .prodclass-r {
    position: relative;
    margin-top:-60px;
    .title{
      line-height: 60px;
      background: #4f4f4f;
      color:#fff;
      padding: 0 30px;
    }
    .slideWrap {
      width:100%;
      height: 130px;
      overflow: hidden;
      ul {
        &.anim{
          transition: all 0.5s;
          margin-left: -300px;
        }
        width:100%;
        &.active{
          left:-300px;
          transition:left 3s;
        }
        li {
          width: 300px;
          float: left;
          margin-right: 15px;
          height: 130px;

          .ImgE {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            background: #fff;
            position: relative;

            /deep/ img {
              width: 100%;
              height: 100%;
              vertical-align: middle;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  // 全部品牌
  .all-brands {
    padding: 40px 30px;
    margin: 40px auto 20px;
    background: #fff;
    box-sizing: border-box;
    .tit {
      font-size: 24px;
      font-weight: bold;
    }
    // 品牌列表
    .list {
      width: 100%;
      padding-left: 10px;
      display: flex;
      li {
        background: #4f4f4f;
        font-size: 14px;
        color: #fff;
        float: left;
        margin-right: 12px;
        cursor: pointer;
        padding:6px 15px 5px;
        &:hover {
          background:#df3f2f;
        }
      }
      .active {
        background: #df3f2f;
      }

      &>:last-child {
        margin-right: 0;
      }
    }

    // 品牌内容
    .brand-content {
      width: 100%;
      padding-top: 20px;
      // float: left;

      ul {
        width: 100%;
        overflow: hidden;

        >h3 {
          width: 100%;
          height: 55px;
          line-height: 55px;
          padding: 0 30px;
          background-color: rgba(210, 217, 223, 1);
        }

        li {
          width: 25%;
          font-size: 18px;
          color: #6b6b6b;
          float: left;
          line-height: 44px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            color: #3da8f5;
          }
        }
      }
    }
  }

}
