
#brand {
  color:#333;
  background: url("../../assets/image/brand/bg.jpg") 0 0 no-repeat;
  background-size: 100% 18vw;
  .leftSlide{
    position: fixed;
    top:80px;
    transition:all 1s;
    transform: translateX(-100px);
    z-index:100;
    .siderList {
      position: absolute;
      top:7.5%;
      height: 70%;
      z-index: 1;
      padding-top:10px;
      box-sizing:border-box;
      width:30px;
      transition: all 0.3s;
      &:hover{
        width:70px;
        transition: all 0.3s;
      }
      .toTop{
        width: 100%;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size:14px;
        height:30px;
        line-height: 30px;
        position: absolute;
        bottom:0;
        &:hover{
          background:#df3f2f;
          font-weight: bold;
          font-size:15px;
          transition: all 0.2s;
        }
      }
      >ul {
        overflow-y: scroll;
        height:100%;
        display:flex;
        flex-direction: column;
        padding-bottom:40px;
        box-sizing: border-box;
        li {
          flex:1;
          width: 100%;
          text-align: center;
          color: #fff;
          cursor: pointer;
          font-size:14px;
          line-height: 1.6;
          height:30px;
          line-height: 30px;
          &:hover{
            background:#df3f2f;
            font-weight: bold;
            font-size:15px;
            transition: all 0.2s;
          }
        }
      }
      >ul::-webkit-scrollbar {
        width: 4px;
      }

      >li {
        width: 70px;
        line-height: 30px;
        text-align: center;
        color: #fff;

      }
    }
    &.siderActive {
      transition: 1s;
      transform: translateX(0)
    }
  }

}
.brand {
  .banner {
     padding-top:18vw;
      position: relative;
    .wrap{
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      img{
        height:8vw;
      }
    }
  }
  // 最新入驻
  .prodclass-r {
    position: relative;
    margin-top:-40px;
    overflow: hidden;
    .title{
      line-height: 40px;
      background: #4f4f4f;
      color:#fff;
      padding: 0 15px;
    }
    .slideWrap {
      background: #fff;
      overflow: hidden;
      padding:10px 15px;
      box-sizing: border-box;
      height:100px;
      position: relative;
      ul {
        height:80px;
        overflow: hidden;
        position: absolute;
        width:200%;
        box-sizing: border-box;
        left:0;
        &.anim{
          transition: left 5s linear 0s;
          left: -20%;
        }
        &.active{
          left:-300px;
          transition:left 3s;
        }
        li {
          width: 9%;
          float: left;
          margin-right: 1%;
          height: 80px;
          border:1px solid #f5f5f5;
          box-sizing: border-box;
          margin-bottom:10px;
          text-align: center;
          .ImgE {
            height: 100%;
            width: 80%;
            background: #fff;
            position: relative;
            /deep/ img {
              max-width: 100%;
              max-height: 100%;
              min-height:50px;
              vertical-align: middle;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  // 全部品牌
  .all-brands {
    padding: 10px 15px;
    margin: 10px auto 20px;
    background: #fff;
    box-sizing: border-box;
    .tit {
      font-size: 16px;
    }
    // 品牌列表
    .list {
      width: 100%;
      display: flex;
      margin-top:15px;
      li {
        background: #4f4f4f;
        font-size: 14px;
        color: #fff;
        float: left;
        margin-right: 12px;
        cursor: pointer;
        padding:6px 5px 5px;
        flex:1;
        white-space: nowrap;
        text-align: center;
        
        &.item{
          &:hover {
            background:#df3f2f;
          }
          &.active {
            background: #df3f2f;
          }
        }
      }
      &>:last-child {
        margin-right: 0;
      }
    }

    // 品牌内容
    .brand-content {
      width: 100%;
      padding-top: 20px;
      // float: left;

      ul {
        width: 100%;
        overflow: hidden;

        >h3 {
          width: 100%;
          height: 35px;
          line-height: 35px;
          padding: 0 15px;
          background-color: rgba(210, 217, 223, 1);
          font-size:14px;
        }

        li {
          width: 25%;
          font-size: 14px;
          color: #6b6b6b;
          float: left;
          line-height: 30px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .mark{
            height:14px;
            margin-right:5px;
            vertical-align: middle;
            margin-top:-2px;
          }
          &:hover {
            color: #3da8f5;
          }
        }
      }
    }
  }

}
