// 买家中心
.BuyerCenter {
    padding: 20px;
    //个人信息
    .user {
        margin-bottom: 10px;
        display:flex;
        .username {
            padding:50px 70px;
            background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
            background-size:auto 100%;
            box-sizing: border-box;
            .head-portrait {
                width: 90px;
                height:90px;
                border-radius: 100%;
            }
            .info {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size:12px;
                margin-left:30px;
                color:#fff;
                .name {
                    font-weight: bolder;
                    font-size:18px;
                    margin-bottom:10px;
                }
                .type {
                    background:#fff;
                    padding: 1px 10px;
                    border-radius: 10px;
                    margin-bottom:10px;
                    margin-right: 10px;
                }
            }
        }
        .right{
            float: left;
            flex:1;
            margin-left:15px;
            ul{
                display: flex;
                height:100%;
                li{
                    width:50%;
                    padding-right:15px;
                    float:left;
                    box-sizing: border-box;
                    max-width:330px;
                    .cont{
                        background: #fff;
                        height:100%;
                        border-radius: 10px;
                        text-align: center;
                        .money{
                            color:#999;
                            font-size:48px;
                            padding-top:35px;
                        }
                        .desc{
                            color:#333;
                            font-weight: bold;
                            margin-top:10px;
                        }
                        .router{
                            margin-top:15px;
                        }
                        &.yajin{
                            .router{
                                margin-top:5px;
                                margin-bottom:5px;
                            }
                        }
                        &.circle{
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .text{
                                margin-left:10px;
                                text-align: left;
                                .desc{
                                    color:#333;
                                    font-weight: bold;
                                    margin-bottom:8px;
                                }
                                .rest,.route{
                                    color:#2c7be6;
                                    font-size:14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 商品状态
    .goods-state {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 20%;
            font-size: 20px;
            color: #4a5a6a;
            font-weight: bold;
            cursor: pointer;
            padding-right: 10px;
            padding-bottom: 10px;
            text-align: center;
            box-sizing:border-box;
            min-width:300px;
            &>div{
                background: #fff;
                padding:20px;
                border-radius: 5px;
                min-height:140px;
                text-align:left;
                .desc{
                    font-size:14px;
                    margin-bottom:20px;
                    margin-top:10px;
                }
                &:hover {
                    box-shadow: 2px 2px 2px 2px rgba(148, 143, 143, 0.5);
                    background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
                    background-size:auto 100%;
                    color: #fff;
                    .num{
                        color:#fff;
                    }
                    .color{
                        color:#fff!important;
                    }
                }
                .num {
                    color: #999;
                    font-size: 48px;
                    i{
                        font-size:24px;
                    }
                }
                .el-icon-arrow-right{
                    margin-top:15px;
                }
            }
        }
    }
}
.withdrawApplyTotal{
    line-height:20px;
    .withdrawApplyTotalCont{
        max-height:700px;
        min-height:400px;
        overflow-y: auto;
        .band{
            margin-top:15px;
            display:block;
        }
        .withdrawCharge{
            margin-top:10px;
            .desc{
                position: relative;
                display: inline-block;
                &:hover{
                    .cont{
                        display: block;
                    }
                }
                .cont{
                    display: none;
                    position: absolute;
                    background:#fff;
                    left:100%;
                    top:100%;
                    white-space: nowrap;
                    padding:20px;
                    box-shadow: 0 0 5px 2px #ddd;
                    p{
                        margin-top:5px;
                    }
                }
            }
        }
        p{
            margin-top:10px;
            width:100%;
        }
        ul>li{
            line-height: 35px;
            margin-top:10px;
            background:#f5f5f5;
            padding:0 20px;
            cursor: pointer;
            display:inline-flex;
            width:100%;
            box-sizing: border-box;
            justify-content: space-around;
            &.title{
                font-weight: bolder;
                cursor:none;
            }
        }
    }
}
