// 卖家中心
.BuyerCenter {
    padding: 20px;
    //个人信息
    .user {
        background: #fff;
        margin-bottom: 10px;
        display:flex;
        .username {
            padding:50px 70px;
            background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
            background-size:auto 100%;
            box-sizing: border-box;
            .head-portrait {
                width: 90px;
                height:90px;
                border-radius: 100%;
            }
            .info {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size:12px;
                margin-left:30px;
                color:#fff;
                .name {
                    font-weight: bolder;
                    font-size:18px;
                    margin-bottom:10px;
                }
                .type {
                    background:#fff;
                    padding: 1px 10px;
                    border-radius: 10px;
                    margin-bottom:10px;
                    margin-right: 10px;
                }
            }
        }
        .right{
            float: left;
            flex:1;
            color:#333;
            .title{
                border-bottom:1px solid #e5e5e5;
                line-height:50px;
                padding-left:35px;
            }
            ul{
                display:flex;
                li{
                    width:33%;
                    margin-top:20px;
                    margin-left:30px;
                    p{
                        &.desc{
                            font-size:14px;
                            margin-top:5px;
                            margin-bottom:20px;
                        }
                        span{
                            font-size:24px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .personal-information {
        width: 100%;
        display: flex;
        border-bottom: 2px solid #4a5a6a;
        .personal-information-l {
            padding: 20px;
            border: 2px solid #4a5a6a;
            border-bottom:none;
            color: #4a5a6a;
            &>.img {
                margin-right:10px;
                text-align: center;
                img{
                    width:60px;
                    height:60px;
                    border-radius: 60px;
                }
               span {
                   padding:0 15px;
                    line-height: 25px;
                    font-size: 12px;
                    color: #fff;
                    background: #4a5a6a;
                   margin-top:15px;
                   text-align: center;
                   cursor: pointer;
                }
            }

            &>.text {
                .name {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom:10px;
                }
                .tag{
                    span{
                        background: #ff4400;
                        color:#fff;
                        padding:0px 8px;
                        font-size:12px;
                        border-radius: 3px;
                        margin-bottom:10px;
                    }
                }
            }
        }

        .personal-information-r {
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &>.tit {
                width: 100%;
                font-size: 28px;
                font-weight: bold;
                color: #4a5a6a;
            }

            // 已认证
                .certified{
                    .num{
                        color: #cc0000;
                        margin-right:10px;
                    }
                    .top-up{
                        color: #3da8f5
                    }
                    img{
                        vertical-align: middle;
                        width:25px;
                        margin-right: 5px;
                    }
                }
        }
    }

    // 商品状态
    .goods-state {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 20%;
            font-size: 20px;
            color: #4a5a6a;
            font-weight: bold;
            cursor: pointer;
            padding-right: 10px;
            padding-bottom: 10px;
            text-align: center;
            box-sizing:border-box;
            &>div{
                background: #fff;
                padding:20px;
                border-radius: 5px;
                min-height:140px;
                text-align:left;
                .desc{
                    font-size:14px;
                    margin-bottom:20px;
                    margin-top:10px;
                }
                &:hover {
                    box-shadow: 2px 2px 2px 2px rgba(148, 143, 143, 0.5);
                    background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
                    background-size:auto 100%;
                    color: #fff;
                    .num{
                        color:#fff;
                    }
                    .color{
                        color:#fff!important;
                    }
                }
                .num {
                    color: #999;
                    font-size: 48px;
                    i{
                        font-size:24px;
                    }
                }
                .el-icon-arrow-right{
                    margin-top:15px;
                }
            }

            //
            //&>.img {
            //    width: 90px;
            //    line-height:90px;
            //    margin:10px auto;
            //    border-radius: 100%;
            //    border: 2px solid #686868;
            //    img{
            //        width:50%;
            //        vertical-align:middle;
            //    }
            //}

        }
    }

    //   品牌入驻
    .brands {
        width: 100%;
        background: #f2f2f2;
        text-align: center;
        font-size: 28px;
        line-height: 105px;
        cursor: pointer;
        &:hover {
            box-shadow: 2px 2px 2px 2px rgba(148, 143, 143, 0.5)
        }

    }
}
