.specialPrice {
  min-height: 500px;
  text-align: center;
  color: #333;
  background: url("../../assets/image/specialPrice/oldProduct.png") 0 0 no-repeat;
  background-size: 100% auto;
  .banner{
    height:300px;
    line-height:300px;
  }
  .cont {
    border-radius: 10px;
    .title {
      background: #fff;
      padding: 15px 25px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .btn {
        cursor: pointer;

        i {
          padding-right: 10px;
        }

        &:hover {
          color: #df3f2f;
        }
      }
      ul > li {
        float: left;
        margin-right: 25px;
        cursor: pointer;
        &.active {
          color: #df3f2f;
        }
        &:hover {
          color: #df3f2f;
        }
      }
    }
    .goodsList {
      margin-top: 20px;
      .list {
        display: flex;
        flex-wrap: wrap;
        .item {
          width:49%;
          margin-right:2%;
          margin-bottom:2%;
          background:#fff;
          display:flex;
          color:#999999;
          &:hover{
            box-shadow: 0 0 10px 2px #ddd;
            transform: scale(1.05);
            transition: all 0.2s;
          }
          &.noMargin{
            margin-right:0;
          }
          .wrapImg{
            width:50%;
            padding:50px;
            box-sizing: border-box;
            position: relative;
            &:after{
              content: "";
              position: absolute;
              width:100%;
              height: 100%;
              z-index:1;
              left:0;
              top:0;
              background: rgba(0,0,0,0.03);
            }
            .ImgE{
              width:100%;
              /deep/img{
                width:100%;
              }
            }
          }
          .info{
            background: #e7e7e7;
            width:50%;
            padding:25px 15px;
            box-sizing: border-box;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            font-size:14px;
            .time{
              color:#ff7e0d;
              font-size:14px;
              font-weight: bold;
              /deep/.timeStr{
                background: transparent;
                color:#ff7e0d;
                margin:0;
                padding:0;
                font-size:14px;
                font-weight: bold;
              }
            }
            .count{
              span{
                margin-right:15px;
              }
            }
            .btn{
              line-height: 40px;
              width:180px;
              text-align: center;
              cursor: pointer;
              &:hover{
                font-weight: bold;
                font-size:16px;
                transition: all 0.2s;
              }
            }
            .mark{
              span{
                border:1px solid #d2d2d2;
                margin-right:15px;
                border-radius: 3px;
                padding:1px 6px;
              }
            }
            .goodsName{
              font-size:24px;
              color:#333;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}





