.specialPrice{
  min-height:500px;
  text-align: center;
  color:#333;
  background:url("../../assets/image/specialPrice/bg.png") 0 0 no-repeat;
  background-size: 100% auto;
  .banner{
    img{
      width:100%;
    }
  }
  .cont{
    .title{
      background:#fff;
      padding:15px 25px;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      .btn{
        cursor: pointer;
        i{
          padding-right:10px;
        }
        &:hover{
          color:#df3f2f;
        }
      }
      ul>li{
        float: left;
        margin-right:25px;
        cursor: pointer;
        &.active{
          color:#df3f2f;
        }
        &:hover{
          color:#df3f2f;
        }
      }
    }
    .goodsList{
      margin-top:20px;
      .list{
        display:flex;
        flex-wrap:wrap;
        .item{
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width:32%;
          margin-right:2%;
          overflow: hidden;
          position: relative;
          text-align: left;
          color:#656565;
          margin-bottom:40px;
          padding-bottom:10px;
          border-radius: 10px;
          &:hover{
            box-shadow: 0 0 10px 2px #ddd;
            transform: scale(1.05);
            transition: all 0.2s;
          }
          &.noMargin{
            margin-right:0;
          }
          .mark{
            position: absolute;
            left:0;
            top:0;
            img{
              width:60px;
            }
          }
          .goodsType{
            position: absolute;
            right:25px;
            top:15px;
            background:#ff7d0b;
            color:#fff;
            font-size:12px;
            padding:1px 7px;
            border-radius: 3px;
            &.goods_type{
              background: #f40;
            }
          }
          .wrapImg{
            position: relative;
            margin-bottom:15px;
            text-align: center;
            &:after{
              content: "";
              display: block;
              background: rgba(0,0,0,0.05);
              position: absolute;
              width:100%;
              height:220px;
              z-index: 1;
              top:0;
              left:0;
            }
            .ImgE{
              padding-top:20px;
              /deep/img{
                height:100%;
              }
            }
            .desc{
              white-space: nowrap;
              padding:0 35px 25px;
              text-overflow: ellipsis;
              overflow: hidden;
              background: rgba(0,0,0,0.05);
              font-size:12px;
            }
          }
          .info{
            padding:0 15px;
            .sellerInfo{
              color:#333;
              font-size:15px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height:100%;
              .img{
                height:45px;
                width:45px;
                border-radius: 100%;
                overflow: hidden;
                margin-bottom:5px;
                img{
                  width:100%;
                }
              }
            }
            .time{
              color:#ff7e0d;
              font-size:14px;
              margin-bottom:15px;
              font-weight: bold;
              /deep/.timeStr{
                background: #fff;
                color:#ff7e0d;
                margin:0;
                padding:0;
                font-size:14px;
                font-weight: bold;
              }
            }
            .goodsName{
              font-size: 18px;
              font-weight:bold;
              color:#333;
              cursor: pointer;
              &:hover{
                color:#df3f2f
              }
            }
            .brand{
              color:#333;
              font-size:14px;
              margin-bottom:10px;
              cursor: pointer;
              &:hover{
                color:#df3f2f
              }
            }
            .count{
              span{
                padding-right:15px;
                font-size:14px;
              }
            }
            .place{
              font-size:14px;
              margin-bottom:15px;
            }
          }
          .btn{
            line-height: 40px;
            margin-top:10px;
            cursor: pointer;
            text-align: center;
            &:hover{
              font-weight: bold;
              font-size:18px;
              transition: all 0.2s;
            }
          }
        }
      }
    }
  }
}
