.goodEdit {
    position: relative;
    width: 200px;
    .attention {
        padding: 0;
        width: 72px;
        height: 32px;
        background: rgba(255, 134, 53, 1);
        border-radius: 3px;
        border: none;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 0;
        right: 0;
    }
    .special {
        padding: 0;
        width: 150px;
        height: 54px;
        background:rgba(242,46,46,1);
        border-radius:28px;
        border: none;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 36px;
        left: 0;
        
    }
}