// 商品管理
.SellerCommodityManagement {
        .OrderManagement {
            background: #fff;
            padding: 20px;
            min-height: 800px;
            .tab-list {
              // 一级分类
              .tab-list-t {
                margin-bottom:1px;
                &>ul {
                  float: left;
                  li {
                    line-height:40px;
                    padding:0 10px;
                    background: #f2f2f2;
                    font-size: 16px;
                    color: #4a5a6a;
                    margin-right: 1px;
                    float: left;
                    cursor: pointer;
                    &:hover {
                      color: #ff6600;
                    }
                    &.active {
                        background: #0068B7;
                        color: #fff;
                      }
                  }
                }
                &>.all-time {
                  float: left;
                  color: #4a5a6a;
                  line-height: 40px;
                  padding:0 10px;
                  cursor: pointer;
                  font-size:16px;
                  .el-dropdown-menu__item {
                    background: red !important;
                  }
                  .el-dropdown-item {
                    font-size: 20px;
                    color: #4a5a6a;
                  }
                }
                .SearchInput{
                    border-bottom:2px solid #fff;
                  }
                  .SearchInput .ipt input {
                    font-size: 20px;
                  }
              }
              // 列表的内容
              .tab-list-con {
                .tab-list-con-tit {
                  background: #e4e4e4;
                  &>span {
                    line-height: 50px;
                    font-size:16px;
                    color: #4a5a6a;
                    text-align: center;
                    font-weight: bold;
                  }
                }
                .list-item {
                  margin-bottom: 20px;
                  border: 1px solid #ddd;
                  .list-item-tit {
                    line-height: 45px;
                    padding: 0 20px;
                    background: #f2faff;
                    border-bottom: 1px solid #ddd;
                    font-size:14px;

                    strong {
                      color: #4a5a6a;
                    }

                    span {
                      margin-right: 20px;
                      color: #a1a1a1;
                    }

                    .phon {
                      color: #333;
                    }
                  }

                  table {

                    background: #f2f2f2;

                    td {
                      font-size: 16px;
                      color: #4a5a6a;
                      border-right: 1px solid #ddd;
                      // border-bottom: 1px solid #ddd;
                      padding-top: 5px;
                      padding-bottom: 5px;
                      text-align: center;
                      box-sizing: border-box;
                      .countTime{
                          font-size:12px;
                          margin-top:10px;
                      }
                      .wrapbtn{
                          .btn{
                              cursor: pointer;
                              font-size:14px;
                              padding:2px 6px;
                              border-radius:3px;
                              line-height:28px;
                              &:hover{
                                  color:peru;
                                  font-weight:bolder;
                                  font-size:15px;
                                  transition: all 0.2s;
                              }
                              &.undone{
                                  background: #a1a1a1;
                                  color:#fff;
                                border-color:#a1a1a1;
                              }

                          }
                      }

                    }
                    .goodsInfo{
                        .wrap{
                            display:flex;
                            align-items: center;
                            font-size:14px;
                            img{
                                width:50px;
                                margin-left:5px;
                            }
                            div{
                                margin-left:5px;
                                text-align: left;
                                // font-size:14px;
                            }
                        }
                    }
                    .price{
                        .desc{
                            font-size:14px;
                            color:#a1a1a1;
                        }
                        .list{
                            border-top:1px dashed #333;
                            margin-top:10px;
                            li{
                                border-bottom:1px dashed #333;
                                line-height: 30px;
                                font-size: 14px;
                              white-space: nowrap;
                                span{
                                    margin:0 10px;
                                }
                            }
                        }
                        .num{
                            color:#c00;
                            font-weight: bolder;
                        }
                    }
                  }

                }
            }
        }
    }
}
