// 商品管理
.SellerCommodityManagement {
  .showAddnum{
    
    .title{
      display:flex;
      justify-content: space-around;
      border-bottom:1px solid #999;
      padding-bottom:20px;
      margin-bottom:20px;
      color:#333;
     
    }
    .cont{
      padding:0 20px;
      p{
        margin-top:20px;
        color:#333;
      }
      .desc{
        color:#999;
      }
    }
  }
        .OrderManagement {
            background: #fff;
            padding: 20px;
            min-height: 800px;
            .nocont{
              text-align: center;
              margin-top:50px;
            }
            .tab-list {
             
              // 一级分类
              .tab-list-t {
                margin-bottom:1px;
                .inputSearch{
                  /deep/.el-input-group__append{
                    padding:0 10px;
                    background: #df3f2f;
                    color:#fff;
                  }
                }
                &>ul {
                  float: left;
                  margin-right:20px;
                  li {
                    line-height:40px;
                    padding:0 22px;
                    background: #f2f2f2;
                    font-size: 16px;
                    color: #4a5a6a;
                    margin-right: 1px;
                    float: left;
                    cursor: pointer;
                    &:hover {
                      color: #ff6600;
                    }
                    &.active {
                        background: #0068B7;
                        color: #fff;
                      }
                  }
                }
                
                .SearchInput{
                    border-bottom:2px solid #fff;
                  }
                  .SearchInput .ipt input {
                    font-size: 20px;
                  }
              }
              // 列表的内容
              .tab-list-con {
                  margin-top:20px;
                .tab-list-con-tit {
                  background: #e4e4e4;
                  &>span {
                    line-height: 50px;
                    font-size:15px;
                    color: #4a5a6a;
                    text-align: center;
                    font-weight: bold;
                  }
                }
                .list-item {
                  // margin-bottom: 20px;
                  border: 1px solid #ddd;
                  .blue{
                    color:rgb(53, 76, 217);
                    font-size:12px;
                  }
                  .list-item-tit {
                    line-height: 45px;
                    padding: 0 20px;
                    background: #f2faff;
                    border-bottom: 1px solid #ddd;
                    font-size:14px;

                    strong {
                      color: #4a5a6a;
                    }

                    span {
                      margin-right: 20px;
                      color: #a1a1a1;
                    }

                    .phon {
                      color: #333;
                    }
                  }

                  table {
                    // background: #f2f2f2;
                    th{
                     background: #f2f2f2;
                     line-height:40px;
                     font-weight: normal;
                    }
                    td {
                      font-size: 14px;
                      color: #4a5a6a;
                      border-right: 1px solid #ddd;
                     border-bottom: 1px solid #ddd;
                      padding: 8px;
                      text-align: center;
                      box-sizing: border-box;
                      font-size:12px;
                      .countTime{
                          font-size:12px;
                          margin-top:10px;
                      }
                      .wrapbtn{
                          .btn{
                              cursor: pointer;
                              font-size:14px;
                              padding:2px 6px;
                              border-radius:3px;
                              line-height:28px;
                              &:hover{
                                  color:peru;
                                  font-weight:bolder;
                                  font-size:15px;
                                  transition: all 0.2s;
                              }
                              &.undone{
                                  background: #a1a1a1;
                                  color:#fff;
                                border-color:#a1a1a1;
                              }

                          }
                      }

                    }
                    .goodsInfo{
                        .wrap{
                            display:flex;
                            align-items: center;
                            font-size:14px;
                          
                            img{
                                width:50px;
                                margin-left:5px;
                            }
                            div{
                                margin-left:5px;
                                text-align: left;
                                // font-size:14px;
                            }
                        }
                    }
                    .price{
                        .desc{
                            font-size:14px;
                            color:#a1a1a1;
                        }
                        .list{
                            li{
                                line-height: 25px;
                                font-size: 14px;
                                white-space: nowrap;
                            }
                        }
                    }
                  }

                }
            }
        }
    }
}
