.BuyerInvoiceManagement {
    padding: 20px;
    min-height: 800px;
    background: #fff;

    .addInvoice {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;

        span {
            width: 146px;
            height: 37px;
            background: #4a5a6a;
            color: #fff;
            line-height: 37px;
            text-align: center;
            font-size: 16px;

            &:hover {
                color: peru;
            }
        }
    }

    >.el-table {
        .el-table__body-wrapper {
            .el-table__body {
                .el-table__row {
                    >td:nth-child(1) {
                        .cell {
                            display: flex;
                            height: 120px;
                            line-height: 120px;
                            text-align: center;
                            align-items: center;
                            img {
                                width: 120px;
                            }

                            div {
                                margin-left: 20px;

                                >p {
                                    line-height: 40px;
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}