// 关注商家产品列表
.MerchantsConcernedImgTab {
    .product-list {
        display:flex;
        position: relative;
        .purchase{
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            background: #f4f4f4;
            border-top:1px solid #999;
            padding:15px;
            box-sizing:border-box;
            .close{
                font-size:20px;
                width:20px;
                text-align: center;
                line-height: 18px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                border:1px solid #999;
                color:#999;
                cursor: pointer;
            }
            &>div{
                display: flex;
                justify-items: center;
                justify-content: space-around;
                &>div{
                    flex:1;
                    margin-top:10px;
                    strong{
                        color:#F22E2E;
                    }
                }
                .info{
                    margin-top:0;
                    text-align: center;
                    font-size:12px;
                    .goodsName{
                        color:#F22E2E;
                        font-weight: bolder;
                        font-size: 16px;
                        margin-bottom:10px;
                    }
                }
                .btnWrap{
                    margin-top:0;
                    .btn{
                        background:#F22E2E;
                        color:#fff;
                        line-height:45px;
                        padding:0 22px;
                        cursor: pointer;
                    }
                }
            }
        }
        .product-list-con {
            flex:1;
            display:flex;
            &>li {
                padding: 10px 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                max-width:300px;
                flex:1;
                .wrap{
                    max-width:300px;
                    width:100%;
                    margin:0 auto;
                    text-align: left;
                }
                    .price {
                        text-align: left;
                        color:#F22E2E;
                        font-weight: bolder;
                        margin-bottom:10px;

                        box-sizing:border-box;
                    }
                    .prod-img {
                        text-align: center;
                        position: relative;
                        margin-bottom:10px;
                        img{
                            width:90%;
                        }
                        &:after{
                            display: block;
                            content:"";
                            width:100%;
                            height:100%;
                            background:rgba(0,0,0,0.05);
                            top:0;
                            left:0;
                            position: absolute;
                        }
                    }
                .goodsName{
                    color:#F22E2E;
                    margin-bottom: 5px;
                }
                .goodsDesc{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                .btn{
                    white-space: nowrap;
                    background: #4a5a64;
                    color:#fff;
                    margin:10px auto;
                    padding:3px 14px;
                    cursor: pointer;
                    img{
                        width:15px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .Pagination{
            /deep/.el-pagination{
                .el-pager{
                    li{
                        margin: 0 5px;
                        min-width: 30px;
                        border-radius: 2px;
                        &.active{
                            background: #4a5a6a;
                            color:#fff;
                        }
                    }
                }
                .btn-prev,.btn-next{
                    margin: 0 5px;
                    min-width: 30px;
                    border-radius: 2px;
                }

            }
        }
    }
}
