.ApplySpecialPrice {
    background:#fff;
    .wrapper {
        &>.tit {
            width: 100%;
            line-height: 40px;
            text-align: center;
            font-size: 24px;
        }
        // 商品价格信息
        .special-price {
            padding: 30px 0;
            display: flex;
            box-sizing: border-box;
            border-bottom:10px solid #ddd;
            .product-msg {
                display: flex;
                float: left;
                padding: 20px 0;
                flex: 1;
                background:#f5f5f5;
                &:hover {
                    box-shadow: 0 0 2px 1px #ddd;
                }

                .product-msg-img {
                    float: left;
                    margin-right: 30px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    padding:20px;
                    background:#fff;
                    margin-left:20px;
                    .attention {
                        width: 60%;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        color: #fff;
                        font-size: 18px;
                        background: #949494;
                        border-radius: 4px;
                        margin: 0 auto;
                    }
                }

                .product-msg-text {
                    overflow: hidden;
                    float: left;
                    margin-right: 30px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    p {
                        font-size: 16px;
                        color: #999;
                        margin-bottom: 10px;

                        // line-height: 35px;
                        span {
                            font-weight: bold;
                        }
                    }

                    .xh {
                        width: 90%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }

                    .name {
                        font-size: 20px;
                        margin-block-end: 15px;
                        font-weight: bold;
                        cursor: pointer;
                        color:#333;
                        &:hover{
                            color:#df3f2f;
                        }
                    }
                }

                .LadderPrice {
                    width: 230px;
                    color: #4A5A6A;
                    text-align: center;

                    &>.tit {
                        width: 100%;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 15px;
                        height: 30px;
                        line-height: 30px;
                       
                    }
                    .LadderPrice-list {
                        &>div {
                            height: 40px;
                            line-height: 40px;
                            font-size: 16px;
                        }

                        .bd-t {
                            border-top: 1px dashed #4A5A6A;
                        }

                        .bd-b {
                            border-bottom: 1px dashed #4A5A6A;
                        }

                    }

                }
            }
            .brans-msg {
                width: 20%;
                float: left;
                margin-left: 40px;
                background:#f5f5f5;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                cursor: pointer;
                    &:hover{
                        p{
                            color:#df3f2f;
                        }
                       
                    }
                /deep/.ImgE{
                    width:80%;
                    background:#fff;
                    margin:0 auto;
                    img{
                        height:50px;
                        max-width:100%;
                    }
                }
                p {
                    font-size: 20px;
                    color: #999;
                }
            }
        }
        // 申请信息
        .apply-inform {
            padding: 20px 0;
            border-top: none;
            box-sizing: border-box;
            .tit {
                line-height: 40px;
                text-align: center;
                font-size: 28px;
                color: #999;
                margin-bottom: 20px;
                font-weight: bold;
            }

            .el-form {
                width: 60%;
                margin: 0 auto;
            }
        }
        .submit {
            width: 100%;
            .el-button {
                width: 80%;
                margin: 15px 10%;
            }

            >p {
                width: 100%;
                text-align: center;
                color: #FF9900;
            }
        }
    }
}
