// 卖家账单中心
.top{
  display:flex;
  margin-bottom:10px;
  &>div{
      flex:1;
      text-align: center;
      max-width:250px;
      margin-right:50px;
      background:#fff;
      padding:20px;
      font-size:16px;
      cursor: pointer;
      .title{
          text-align:left;
          font-size:14px;
          margin-bottom:20px;
      }
      .desc{
          font-size:12px;
          text-align: left;
          margin-top:10px;
      }
      &.active{
          background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
          background-size:100% 100%;
          p{
              color:#fff;
              strong{
                  color:#fff;
              }
              a{
                  color:#fff;
              }
          }
      }
  }
}
.withdrawApplyTotal{
  line-height:20px;
  .withdrawApplyTotalCont{
    max-height:700px;
    min-height:400px;
    overflow-y: auto;
    .band{
      margin-top:15px;
      display:block;
    }
    .withdrawCharge{
      margin-top:10px;
      .desc{
        position: relative;
        display: inline-block;
        &:hover{
          .cont{
            display: block;
          }
        }
        .cont{
          display: none;
          position: absolute;
          background:#fff;
          left:100%;
          top:100%;
          white-space: nowrap;
          padding:20px;
          box-shadow: 0 0 5px 2px #ddd;
          p{
            margin-top:5px;
          }
        }
      }
    }
    p{
      margin-top:10px;
      width:100%;
    }
    ul>li{
      line-height: 35px;
      margin-top:10px;
      background:#f5f5f5;
      padding:0 20px;
      cursor: pointer;
      display:inline-flex;
      width:100%;
      box-sizing: border-box;
      justify-content: space-around;
      &.title{
        font-weight: bolder;
        cursor:none;
      }
    }
  }
}
.SellerBillCenter {
  min-height: 500px;
  .tit{
    line-height: 40px;
    margin-bottom:10px;
    background:#fff;
    padding:10px ;
    .search{
        margin-left:30px;
        .btn{
            padding:0 18px;
            background: #d5d5d5;
            cursor: pointer;
            margin-right:1px;
            color:#333;
            &:hover{
                font-weight: bold;
            }
        }
        &.btn{
            line-height:28px;

            span{
                cursor: pointer;
                padding:0 10px;
                background:#ddd;
                &:hover{
                    font-weight: bolder;
                }
            }
            p{
                margin-left:30px;
                span{
                    margin-left:20px;
                }
            }
        }
    }
}

  .el-table{
    font-size:12px;
   /deep/button{
      span{
        padding:0 12px;
      }
    }
    .infoWrap{
      padding:5px;
      overflow: hidden;
      box-sizing: border-box;
      &>div{
        white-space: nowrap;
      }
      .goods_seller_no{
        font-weight: bold;
        margin-bottom:5px;
        font-size:15px;
        text-align: left;
      }
      .info{
        display: flex;
        text-align: left;
        font-size:12px;
        width:100%;
        /deep/.ImgE{
          position: relative;
          margin-right:5px;
          display: flex;
          align-items: center;
         padding:0 10px;
          &:after{
            content: "";
            width:100%;
            height:100%;
            position:absolute;
            background: rgba(0,0,0,0.02);
            z-index:1;
            left:0;
            top:0;
          }
        }
        &>div{
          flex:1;
          p{
            width:100%;
            white-space: normal;
          }
        }
      }
    }
  }

}
