// 卖家账单中心
.cont{
  background:#fff;
  margin-top:10px;
  color:#333;
  .titl{
      display:flex;
      text-align:center;
      background:#fff;
      font-size:12px;
      padding:15px 0;
      .oneitem{
          flex:1;
      }
      .left{
        width:200px
      }
      .goodsinfo{
          width:200px;
      }
  }
  .biglist{
      border:1px solid #01a3f03b;
      .userinfo{
          background:#01a3f03b;
          line-height: 40px;
          font-size:14px;
          display: flex;
          padding:0 15px;
          p{
              margin-right:20px;
          }
          img{
              height:30px;
              width:30px;
              border-radius: 30px;
              margin-left:10px;
          }
          .detail{
              font-size:12px;
              display:none;
          }
      }
      .listwrap{
        display:flex;
        align-items: center;
        .left{
          width:200px;
          font-size:12px;
          text-align: center;
          padding:8px 0;
          border-right:1px solid #ddd;
          margin-right:-1px;
        }
      }
      .list{
        flex:1;
        border-left:1px solid #ddd;
        height: 100%;
        li{
          &:first-of-type{
            border-top:none;
          }
         
          font-size:14px;
          border-top:1px solid #ddd;
         
          margin-bottom:-1px;
         
        }
          .onecont{
            display: flex;
            align-items: center;
              .goodsinfo{
                  width:200px;
                  display:flex;
                  box-sizing: border-box;
                  font-size:12px;
                  .name{
                    width:100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                  img{
                      width:60px;
                      margin-right:10px;
                  }
                  p{
                      margin-bottom:5px;
                      min-height: 0;
                      margin-left:10px;
                      &.desc{
                          white-space: nowrap;
                          width:100%;
                          overflow: hidden;
                          width:230px;
                          text-overflow: ellipsis;
                         
                      }
                  }
              }
              .deliver{
                  width:180px;
                  text-align: center;
              }
              .oneitem{
                  flex:1;
                  text-align: center;
                  padding:8px;
                  font-size:12px;
              }
          }
      }
  }
 
}
.openbill{
  /deep/.el-dialog__body{
    padding-top:0;
  }
  .demo-ruleForm{
    /deep/.el-form-item{
      margin-bottom:0;
    }
  }
}
.top{
  display:flex;
  margin-bottom:10px;
  
  &>div{
      flex:1;
      text-align: center;
      max-width:250px;
      margin-right:50px;
      background:#ffebef;
      padding:10px;
      font-size:16px;
      cursor: pointer;
     
      .title{
          text-align:left;
          font-size:14px;
          margin-bottom:10px;
      }
      .desc{
          font-size:12px;
          text-align: left;
          margin-top:10px;
      }
      &.active{
          background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
          background-size:100% 100%;
          p{
              color:#fff!important;
              strong{
                  color:#fff!important;
              }
              a{
                  color:#fff!important;
              }
          }
      }
  }
}
.withdrawApplyTotal{
  line-height:20px;
  .withdrawApplyTotalCont{
    max-height:700px;
    min-height:400px;
    overflow-y: auto;
    .band{
      margin-top:15px;
      display:block;
    }
    .withdrawCharge{
      margin-top:10px;
      .desc{
        position: relative;
        display: inline-block;
        &:hover{
          .cont{
            display: block;
          }
        }
        .cont{
          display: none;
          position: absolute;
          background:#fff;
          left:100%;
          top:100%;
          white-space: nowrap;
          padding:20px;
          box-shadow: 0 0 5px 2px #ddd;
          p{
            margin-top:5px;
          }
        }
      }
    }
    p{
      margin-top:10px;
      width:100%;
    }
    ul>li{
      line-height: 35px;
      margin-top:10px;
      background:#f5f5f5;
      padding:0 20px;
      cursor: pointer;
      display:inline-flex;
      width:100%;
      box-sizing: border-box;
      justify-content: space-around;
      &.title{
        font-weight: bolder;
        cursor:none;
      }
    }
  }
}
.SellerBillCenter {
  min-height: 500px;
  .tit{
    line-height: 40px;
    margin-bottom:10px;
    background:#fff;
    padding:10px ;
    .search{
        margin-left:30px;
        .btn{
            padding:0 18px;
            background: #d5d5d5;
            cursor: pointer;
            margin-right:1px;
            color:#333;
            &:hover{
                font-weight: bold;
            }
        }
        &.btn{
            line-height:28px;

            span{
                cursor: pointer;
                padding:0 10px;
                background:#ddd;
                &:hover{
                    font-weight: bolder;
                }
            }
            p{
                margin-left:30px;
                span{
                    margin-left:20px;
                }
            }
        }
    }
}
}
.avatar-uploader{
  /deep/.el-upload--picture-card {
    height: 100px;
    width: 100px;
    line-height: 100px;
  }
  /deep/.el-upload-list--picture-card {
    .el-upload-list__item {
      height: 100px;
      width: 100px;
      line-height: 100px;
    }
  }
  /deep/.el-upload__tip {
    line-height: 1;
  }
}