// 个人设置
.PersonalSet {
  // 用户名和头像
  .user {

    margin-bottom: 10px;
    display:flex;
    .username {
      padding:50px 70px;
      background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
      background-size:auto 100%;
      box-sizing: border-box;
      .head-portrait {
        width: 90px;
        height:90px;
        border-radius: 100%;
      }
      .info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size:12px;
        margin-left:30px;
        margin-top:15px;
        color:#fff;
        .name {
          font-weight: bolder;
          font-size:18px;
          margin-bottom:15px;
        }
        .type {
         background:#fff;
          padding: 1px 10px;
          border-radius: 10px;
          margin-bottom:10px;
          margin-right: 10px;
        }
      }
    }
    .right{
      float: left;
      flex:1;
      margin-left:15px;
      ul{
        display: flex;
        height:100%;
        li{
          width:25%;
          padding-right:15px;
          float:left;
          box-sizing: border-box;
          .cont{
            background: #fff;
            height:100%;
            border-radius: 10px;
            text-align: center;
            .money{
              color:#999;
              font-size:48px;
              padding-top:35px;
            }
            .desc{
              color:#333;
              font-weight: bold;
              margin-top:10px;
            }
            .router{
              margin-top:15px;
            }
            &.yajin{
              .router{
                margin-top:5px;
                margin-bottom:5px;
              }
            }
            &.circle{
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-around;
              .text{
                  margin-left:10px;
                text-align: left;
                  .desc{
                    color:#333;
                    font-weight: bold;
                    margin-bottom:8px;
                  }
                .rest,.route{
                  color:#2c7be6;
                  font-size:14px;
                }
              }
            }
          }
        }
      }
    }
  }

  // 个人信息设置
  .informa-set {
        display:flex;
        height:180px;
        li{
          float: left;
          width:20%;
          padding-right:15px;
          .cont{
            background: #fff;
            height:100%;
            padding:40px 45px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 2px 2px #ddd;
            text-align: left;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .el-icon-arrow-right{
              font-size:18px;
            }
            .name{
              font-weight: bold;
              color:#333;
              font-size:18px;
            }
            .desc{
              font-size:12px;
              margin-top:5px;
            }
            .val{
              font-size:48px;
            }
            .marginTop{
              margin-top:30px;
            }
            .bind{
              margin-top:10px;
              font-size: 36px;
              .el-icon-arrow-right{
                margin-top:18px;
              }
            }
            &:hover{
              background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
              background-size:auto 100%;
              color:#fff;
                .name{
                  color:#fff;
                }
              .cont1{
                color:#333;
              }
            }
            .userLevel{
              position: relative;
              &:hover{
                .cont1{
                  display: block;
                }
              }
              .cont1{
                position: absolute;
                display: none;
                left:100%;
                top:25px;
                background: #fff;
                padding:20px;
                width:300px;
                box-shadow: 0 0 2px 2px #ddd;
                color:#333;
                p{
                  display: inline-flex;
                  width:100%;
                  border-bottom:1px solid #ddd;
                  margin-bottom:5px;
                  padding-bottom:5px;
                  span{
                    width:50%;
                    text-align: center;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }

  }
}
.withdrawApplyTotal{
  line-height:20px;
  .withdrawApplyTotalCont{
    max-height:700px;
    min-height:400px;
    overflow-y: auto;
    .band{
      margin-top:15px;
      display:block;
    }
    .withdrawCharge{
      margin-top:10px;
      .desc{
        position: relative;
        display: inline-block;
        &:hover{
          .cont{
            display: block;
          }
        }
        .cont{
          display: none;
          position: absolute;
          background:#fff;
          left:100%;
          top:100%;
          white-space: nowrap;
          padding:20px;
          box-shadow: 0 0 5px 2px #ddd;
          p{
            margin-top:5px;
          }
        }
      }
    }
    p{
      margin-top:10px;
      width:100%;
    }
    ul>li{
      line-height: 35px;
      margin-top:10px;
      background:#f5f5f5;
      padding:0 20px;
      cursor: pointer;
      display:inline-flex;
      width:100%;
      box-sizing: border-box;
      justify-content: space-around;
      &.title{
        font-weight: bolder;
        cursor:none;
      }
    }
  }
}
