// 个人设置
.PersonalSet {
  // 用户名和头像
  .user {
    background: #fff;
    margin-bottom: 10px;
    display:flex;
    .username {
      padding:50px 70px;
      background: url("../../../assets/image/PersonalCenter/header_bg.png") left top no-repeat;
      background-size:auto 100%;
      box-sizing: border-box;
      .head-portrait {
        width: 90px;
        height:90px;
        border-radius: 100%;
      }
      .info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size:12px;
        margin-left:30px;
        margin-top:15px;
        color:#fff;
        .name {
          font-weight: bolder;
          font-size:18px;
          margin-bottom:15px;
        }
        .type {
         background:#fff;
          padding: 1px 10px;
          border-radius: 10px;
          margin-bottom:10px;
          margin-right: 10px;
        }
      }
    }
    .right{
      float: left;
      flex:1;
      color:#333;
      .title{
        border-bottom:1px solid #e5e5e5;
        line-height:50px;
        padding-left:35px;
      }
      ul{
        display:flex;
        li{
          width:33%;
          margin-top:20px;
          margin-left:30px;
          p{
            &.desc{
              font-size:14px;
              margin-top:5px;
              margin-bottom:20px;
            }
            span{
              font-size:24px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  // 个人信息设置
  .informa-set {
    padding: 40px 30px;
    background: #fff;
    li {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      color: #4A5A6A;
      .mark{
        &:hover{
          .cont{
            display:block;
          }
        }
        position: relative;
        .cont{
          position: absolute;
          left:100%;
          top:100%;
          width:400px;
          background: #fff;
          box-shadow: 0 0 2px 2px #d5d5d5;
          padding:20px;
          display: none;
          div{
            font-size:14px;
            text-align: center;
          }
          p{
            line-height:30px;
            border-bottom:1px solid #d5d5d5;
           margin:5px;
            span{
              width:50%;
              text-align: center;
            }
          }
        }
      }
      img {
        width: 30px;
        vertical-align: middle;
        margin-right: 10px;
      }
      .marginRight{
        margin-right:20px;
      }
      .detailAddress {
        span {
          margin-right: 20px;
        }
      }

      &>span {
        cursor: pointer;
        color: #0068B7;

        &:hover {
          font-size: 17px;
          font-weight: bold;
          transition: all 0.2s;
        }
      }
    }
  }
}

// 个人设置
//.PersonalSet {
//  // 用户名和头像
//  .user {
//    padding: 30px;
//    background: #fff;
//    margin-bottom: 10px;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//
//    .username {
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//
//      .head-portrait {
//        width: 100px;
//      }
//
//      .info {
//        display: flex;
//        height: 80px;
//        justify-content: space-between;
//        flex-direction: column;
//        font-size: 20px;
//        margin-left: 40px;
//
//        .name {
//          font-weight: bolder;
//        }
//
//        .type {
//          color: #fff;
//          background: #f60;
//          padding: 3px 10px;
//          border-radius: 4px;
//          font-size: 14px;
//          margin-right:10px;
//
//        }
//      }
//    }
//  }
//
//  // 个人信息设置
//  .informa-set {
//    padding: 40px 30px;
//    background: #fff;
//
//    li {
//      margin-bottom: 30px;
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//      font-size: 16px;
//      color: #4A5A6A;
//
//      .red {
//        color: #cc0000;
//        margin-right: 15px;
//      }
//
//      img {
//        width: 30px;
//        vertical-align: middle;
//        margin-right: 10px;
//      }
//
//      .detailAddress {
//        span {
//          margin-right: 20px;
//        }
//      }
//
//      &>span {
//        cursor: pointer;
//        color: #0068B7;
//
//        &:hover {
//          font-size: 17px;
//          font-weight: bold;
//          transition: all 0.2s;
//        }
//      }
//    }
//  }
//}

.withdrawApplyTotal{
  line-height:20px;
  .withdrawApplyTotalCont{
    max-height:700px;
    min-height:400px;
    overflow-y: auto;
    .band{
      margin-top:15px;
      display:block;
    }
    .withdrawCharge{
      margin-top:10px;
      .desc{
        position: relative;
        display: inline-block;
        &:hover{
          .cont{
            display: block;
          }
        }
        .cont{
          display: none;
          position: absolute;
          background:#fff;
          left:100%;
          top:100%;
          white-space: nowrap;
          padding:20px;
          box-shadow: 0 0 5px 2px #ddd;
          p{
            margin-top:5px;
          }
        }
      }
    }
    p{
      margin-top:10px;
      width:100%;
    }
    ul>li{
      line-height: 35px;
      margin-top:10px;
      background:#f5f5f5;
      padding:0 20px;
      cursor: pointer;
      display:inline-flex;
      width:100%;
      box-sizing: border-box;
      justify-content: space-around;
      &.title{
        font-weight: bolder;
        cursor:none;
      }
    }
  }
}
