
#PersonalCenter {
  display:flex;
&>.sideMenu {
  width: 20%;
  max-width:250px;
  min-width:120px;
  padding-top: 30px;
  float: left;
  background: #3f3f3f;
  }

  .content {
    flex: 1;
    float: left;
    background: #f7f7f7;
    min-height:800px;
    &>div {
      padding: 10px;
      box-sizing: border-box;
    }
    /deep/.el-breadcrumb{
        line-height:60px;
          background:#fff;
          padding-left:20px;
      margin-bottom:20px;
        .el-breadcrumb__inner{
          font-weight: normal;
          font-size:18px;
        }
    }
  }
}
