
.sellerOrderDetail {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /deep/.el-breadcrumb{
    margin-bottom:0;
    border-bottom:10px solid #f0f3ef;
  }
  .tableWrap{
    padding:0 20px;
  }
  .topdesc {
    height: 40px;
    margin-bottom: 15px;
    .ImgE {
      height: 100%;
      width: 40px;
      border: 1px solid #e3e3e3;
      overflow: hidden;
    }
    &>span {
      height: 100%;
      vertical-align: middle;
      line-height: 40px;
      margin-right: 20px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .statusList {
    height: 40px;
    margin-bottom:10px;
    padding:0 20px;
    &>p {
      float: left;
      height: 100%;
      line-height: 40px;
      padding: 0 15px;
      cursor: pointer;
      margin-right: 1px;
      background: #e3e3e3;
      cursor: pointer;

      //
      //&:hover {
      //  color: peru;
      //  background: #0d94fb;
      //}
      //
      //&.active {
      //  color: #fff;
      //  background: #0d94fb;
      //}
      input {
        display: none;
      }
    }
  }
}
