.CheckInformation {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;

  .title {
    line-height: 70px;
    border-bottom: 2px solid #0068db;
    padding: 0 30px;

    >span {
      font-size: 28px;
      color: #ff9900;
    }
  }

  .el-dialog__header {
    background: #fff !important;
    color: #4A5A6A;

  }

  .el-upload--picture-card {
    width: 102px;
    height: 102px;
    line-height: 102px;

  }

  .el-upload-list--picture-card .el-upload-list__item {
    width: 102px;
    height: 102px;
    ;
  }

  .CheckInformation-con {
    width: 100%;
    min-height: 800px;
    background: #fff;
    border-radius: 4px;
    padding-bottom: 60px;

    .recode {
      display: flex;

      button {
        margin-left: 10px;
      }
    }

    &>div {
      position: relative;
      margin-top: 30px;

      .long-time {
        width: 100px;
        float: right;
        height: 60px;
        line-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 28px;
          color: #4A5A6A;
        }
      }

      .upload-demo {
        width: 542px;
        float: left;
      }

      .tit-h3 {
        width: 100%;
        line-height: 50px;
        margin: 30px 0;
        font-size: 28px;
      }

      .demo-ruleForm {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
      }

      .el-input__inner {
        height: 60px;
        line-height: 60px;
      }

      .el-form-item__content {
        margin-left: 281px !important;

        .small {
          width: 100%;
          font-size: 12px;
          color: #aeaeae;
          height: 20px;
          line-height: 20px;
        }
      }

      .el-form-item__label {
        padding: 0;
      }

      .el-input-group__append {
        background: #4A5A6A;
        color: #fff;
        cursor: pointer;
      }

      .el-range-editor.el-input__inner {
        width: 100%;
      }



      .form-item {
        width: 100%;
        overflow: hidden;
        min-height: 40px;
        float: left;
        margin-bottom: 22px;



        &>label {
          width: 270px;
          text-align: right;
          float: left;
          font-size: 26px;
          height: 40px;
          line-height: 40px;
          color: #4A5A6A;
          margin-right: 10px;
        }

        &>div {
          width: 717px;
          float: left;

          .small {
            width: 100%;
            font-size: 12px;
            color: #aeaeae;
            height: 20px;
            line-height: 20px;
          }

          select {
            width: 100%;
            padding-left: 20px;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            color: #4A5A6A;

          }
        }
      }

      .upload-img {
        position: relative;

        &>div {
          &>p {
            font-size: 12px;
            color: #aeaeae;

            span {
              color: #0068db;
            }
          }

          // .upload-demo {
          //   width: 100%;

          //   .el-upload--picture-card {
          //     width: 102px;
          //     height: 102px;
          //     line-height: 102px;
          //   }
          // }

          // .header-img {
          //   position: absolute;
          //   top: 35px;
          //   right: 345px;
          //   width: 102px;
          //   height: 102px;

          //   img {
          //     width: 102px;
          //     height: 102px;
          //   }
          // }
        }
      }

      .address {
        &>div {
          select {
            width: 236px !important;
            font-size: 20px;
            padding: 0 !important
          }
        }

      }


      // 企业资质上传（所有资质需要加盖红章）
      .form2-item {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px dashed #4A5A6A;
        padding: 40px 0;

        .title-up {
          width: 100%;
          overflow: hidden;

          h3 {
            font-size: 22px;
            margin-bottom: 10px;

            span {
              color: #cc0000;
            }
          }

          .download {
            color: #0068db;
            cursor: pointer;
            margin-top: 20px;
            float: left;
          }

        }

        .small {
          width: 100%;
          font-size: 12px;
          color: #aeaeae;
          float: left;
          height: 20px;
          line-height: 20px;
        }

        .form-item-con {
          width: 100%;
          overflow: hidden;
          padding-top: 20px;

          .qualifica-sort {
            width: 100%;
            overflow: hidden;
            line-height: 40px;
            padding: 20px;
            font-weight: bold;
            position: relative;
            left: 72px;

            &>span {
              float: left;
              margin-right: 20px;
              color: #4A5A6A;

            }

            .item {
              color: #cc0000;

              .dor {
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 10px;
                text-align: center;
                background: #4A5A6A;
                color: #fff;
                font-size: 14px;
              }
            }
          }

          .form-item-con-item {
            width: 100%;
            overflow: hidden;
            margin: 25px 0;

            &>label {
              width: 270px;
              height: 60px;
              line-height: 60px;
              text-align: right;
              float: left;
              font-size: 28px;
              color: #4a5a6a;
            }

            &>div {
              width: 730px;
              min-height: 60px;
              float: left;
              font-size: 28px;
              color: #4a5a6a;
            }
          }
        }
      }
    }

  }

  // 示例图
  .example-diagram {
    width: 102px;
    height: 102px;
    position: relative;
    float: right;

    &>img {
      width: 102px;
      height: 102px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &>span {
      width: 102px;
      height: 102px;
      line-height: 102px;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      color: #fff;
      cursor: pointer;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;

    .sure {
      width: 700px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      //background: #0068db;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      margin-bottom: 20px;

      img {
        width: 30px;
        height: 30px;
        //position: relative;
        //top: 5px;
      }
    }

    .back {
      background: #aeaeae;
      color: #fff;
    }
  }

  // 代理商图片上传
  .Agent-con {
    width: 100%;
    overflow: hidden;

    &>ul {
      width: 100%;
      overflow: hidden;

      li {
        width: 956px;
        overflow: hidden;
        padding: 20px;
        border: 1px dashed #4A5A6A;
        margin-bottom: 20px;

        .brandName {
          font-size: 20px;
          color: #4A5A6A;
          font-weight: bold;
          height: 50px;
          line-height: 50px;

          span {
            color: #cc0000;
          }
        }
      }
    }
  }
}
