.SubstituModelList {
    ///deep/.purchase{
    //    min-width:1140px!important;
    //}
    .substitu-model-list {
        display: flex;
        flex-wrap:wrap;
        &>li {
            padding: 25px;
            margin-top: 20px;
            width:100%;
            float: left;
            box-sizing:border-box;
            &:hover{
                box-shadow: 0 0 10px 2px #ddd;
                transform: scale(1.002);
                transition: all 0.2s;
                .model-list-t {
                    .text {
                        .name {
                            color: #df3f2f;
                        }
                    }
                }
            }
            .model-list-t {
                position: relative;
                display: flex;
                .TabImage {
                    margin-right: 20px;
                    position: relative;
                    justify-content: space-around;
                    width:200px;
                    text-align: center;
                    overflow: hidden;
                    &:after{
                        content: "";
                        position: absolute;
                        width:100%;
                        height:100%;
                        background: rgba(0,0,0,0.05);
                        z-index:1;
                        top:0;
                        left:0;
                    }
                    /deep/.ImgE{
                        img{
                            width:110px;
                        }
                    }
                }
                .text {
                    float: left;
                    font-size:14px;
                    p{
                        margin-top:10px;
                        .nolist{
                            color:#999;
                        }
                    }
                    .name {
                        white-space: nowrap;
                        font-size: 24px;
                        font-weight: bold;
                        cursor: pointer;
                        color:#333;
                    }
                    .btnWrap{
                        display: inline-flex;
                        width:100%;
                        span{
                            line-height:35px;
                            text-align: center;
                            margin-right:10px;
                            border-radius: 3px;
                            color:#fff;
                            flex:1;
                        }
                        .orange{
                            background-color: #f78822;
                        }
                        .gray{
                            background: #ddd;
                        }
                        .btn:hover{
                            font-size:16px;
                            font-weight: bold;
                            transition: all 0.2s;
                            cursor: pointer;
                            &.gray{
                                background: #df3f2f;
                            }
                        }
                    }
                }
            }
        }
    }
}
