.sellerGoodsDetail{
  color:#333;
  background:#fff;
  .BrandDetail-tit{
    height:60px;
    line-height:60px;
    box-shadow: 1px 1px 5px 1px #e3e3e3;
    /deep/.el-breadcrumb{
      height:100%;
      line-height:60px;
    }
  }
  .sellerGoodsInfo{
    .purchase{
      position: absolute;
      bottom:0;
      width:100%;
      left:0;
      background: #fff;
      box-sizing:border-box;
      box-shadow: 0 0 5px 1px #999;
      z-index: 1;
      .close{
        font-size:20px;
        width:20px;
        text-align: center;
        line-height: 18px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border:1px solid #999;
        color:#999;
        cursor: pointer;
      }
      &>div{
        &>div{
          display:flex;
          strong{
            color:#F22E2E;
          }
        }
        .info{
          margin-top:0;
          text-align: center;
          font-size:12px;
          .goodsName{
            color:#F22E2E;
            font-weight: bolder;
            font-size: 16px;
            margin-bottom:10px;
          }
        }
        .btnWrap{
          margin-top:0;
          position: relative;
          .btn{
            background:#F22E2E;
            color:#fff;
            line-height:45px;
            padding:0 22px;
            cursor: pointer;
          }
        }
      }
    }
    .title{
      font-size:24px;
      font-weight: bold;
      height:65px;
      line-height: 65px;
    }
    .cont{
      display: flex;
      .left{
        width:37%;
        margin-right:3%;
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        .bigImg{
          width:100%;
          padding-top:100%;
          text-align: center;
          position: relative;
          box-sizing:border-box;
          &:after{
            content:"";
            position: absolute;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.02);
            top:0;
            left:0;
            z-index:1;
          }
          .ImgE{
            position: absolute;
            top:50%;
            left:50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

          }
        }
        .imglistwrap{
          display: inline-flex;
          .icon{
            background:rgba(0,0,0,0.02);
            color:#999;
            font-size:35px;
            display: inline-flex;
            align-items: center;
          }
          .imgList{
            height:110px;
            overflow: hidden;
            flex:1;
            padding-left:3.3%;
            .imgewrap{
              display: inline-block;
              border:1px solid transparent;
              height:100%;
              line-height:100px;
              width:30%;
              margin-right:3.3%;
              text-align:center;
              position: relative;
              box-sizing: border-box;
              &:after{
                content:"";
                position: absolute;
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.02);
                left:0;
                right:0;
                z-index:1;
              }
              /deep/.ImgE{
                img{
                  max-height:80%;
                  max-width:80%;
                }

              }
              &.active{
                border:1px solid #d5d5d5;
              }
            }

          }
        }
        .icon{
          text-align: left;
          color:#999;
          font-size:14px;
          span{
            margin-right:20px;
            &.btn{
              cursor: pointer;
              &:hover{
                color:#df3f2f;
                font-weight: bold;
              }
            }
          }
        }

      }
      .right{
        flex:1;
        width:50%;
        .tag{
          border:1px solid #df3f2f;
          padding:0 5px;
          border-radius: 3px;
          margin:10px 0;
        }
        .goodsName{
          font-size:30px;
          font-weight: bold;
          margin-bottom:7px;
        }
        .time{
            line-height:35px;
            font-size:16px;
            padding-left:10px;
            /deep/.counttime{
              padding-left:10px;
              display: inline-block;
              .timeStr{
                padding:0;
                background: none;
              }
            }
        }

        .cont1{
          .price{
            margin-bottom:25px;
            border-bottom:1px solid #eeeeee;
            font-size:36px;
            padding-bottom:10px;
            &.jieti{
              font-size:25px;
              .priceList{
                display:inline-block;
              }
            }
            .includBill{
              color:#5e5eff;
              font-size:14px;
              margin-left:15px;
            }
          }

          background: #fafafa;
          padding: 25px;
          margin-top:10px;
          border:1px solid #eee;
          .mpq{
            display: flex;
            .line{
              border-right:1px solid #ddd;
              height:100%;
              width:1px;
              margin:0 auto;
            }
            div{
              flex:1;
              p{
                white-space: nowrap;
                margin-bottom:10px;
                font-size:14px;
                color:#333;
              }
            }
          }
        }
        .seller{
          font-size:14px;
          padding:20px 0;
          border-bottom:1px dashed #eee;
          img{
            width:25px;
            height:25px;
            border-radius: 100%;
            margin-right:10px;
          }
        }
        .count{
          line-height:80px;
          span{
            margin-left:20px;
          }
        }
        .brandName{
          color:#333;
          font-size:14px;
          margin:15px 0;
          .ImgE{
            width:50px;
            height:20px;
            border:1px solid #ddd;
            /deep/img{
              width:100%;
              height:100%;
            }
          }
        }
        .brandDesc{
          font-size:16px;
          line-height:1.7;
          color:#999;
          margin-bottom:7px;
          span{
            width:30%;
          }
        }
        .icon{
          font-size:16px;
          margin:20px 0;
          span{
            margin-right:35px;
            font-weight: bold;
            color:#999;
            cursor: pointer;
            i{
              margin-right:5px;
              font-weight: bold;
            }
          }
        }
        .btnwrap{
          position: relative;
            span{
              width:150px;
              line-height: 50px;
              text-align: center;
              border-radius:5px;
              margin-right:10px;
              color:#fff;
              font-size:18px;
              cursor: pointer;
              &:hover{
                font-weight: bold;
                font-size:19px;
                transition: all 0.2s;
              }
              &.orange{
                background:#f78822;
              }
              &.gray{
                background: #bbb;
                &:hover{
                  background: #df3f2f;
                }
              }
            }
        }
        .mark{
          font-size:14px;
          margin-top:15px;
          color:#999;
        }
      }
    }
  }
 .detail{
   margin:20px 0;
   background:#f5f5f5;
   padding-top:15px;
   .detail-informan-con {
     .tit {
       line-height:50px;
       font-size: 18px;
       text-align: center;
       span {
         width: 50%;
       }
     }
     .parameter {
       display:flex;
       li {
         width: 50%;
         float: left;
         background: #fff;
         /deep/.cell{
           color:#666;
         }
       }
     }
   }
 }
}
