.CommoditiesInterest {
    margin-top:20px;
    background: #fff;
    padding: 20px;
    // 切换
    .tab-list {
        height: 36px;
        margin-bottom: 30px;

        .active {
            border-color:#0068B7;
            .select {
               opacity: 1;

            }
        }

        &>li {
            border:2px solid transparent;
            min-width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            color: #4A5A6A;
            margin-right:5px;
            float: left;
            cursor: pointer;

            &:hover {
                color: #0068B7
            }

            .img-1 {
                height: 20px;
                margin-left: 10px;
                margin-right: 6px;
                vertical-align: middle
            }

            .text {
                display: inline-block;
                height: 28px;
                line-height: 28px;
                margin-right:15px;
                .num{
                    margin-right:10px;
                }
            }

            .select {
               opacity: 0;
                height: 30px;
                width: 30px;
                background: #0068B7;
                float: right;
                position: relative;
                img {
                    width:30px;
                    height: 30px;
                    vertical-align: top;
                }
            }
        }
    }

    // 商品列表
    .interes-list {
        li {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            .imgwrap{
                img{
                    width:100px;
                }
                margin-right:15px;
            }
            &>.text {
                &>.name {
                    color: #CC0000;
                    cursor: pointer;

                }
                &>.brand {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
                p {
                    font-size: 16px;
                    color: #4A5A6A;
                    line-height: 1.4;
                    &>.num {
                        color: #CC0000
                    }
                }
            }

            // 收藏关注
            .operation {
                float: right;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .buttonIcon{
                    div{
                        width:100px;
                        background:#4a5a6a;
                        color:#fff;
                        text-align: center;
                        padding:5px 15px;
                        cursor: pointer;
                        img{
                            vertical-align: middle;
                            height:20px;
                            float: left;

                        }
                        &.purchase{
                            margin-top:20px;
                        }
                    }
                }
                .focus-collection {
                    margin-right:30px;
                    img{
                        width:40px;
                        margin-right:20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }


}
