// 列表的内容
        .list-item {
          margin-bottom: 10px;
          border: 1px solid #ddd;
          position: relative;

          .list-item-tit {
            line-height: 50px;
            padding: 0 20px;
            background: #f2faff;
            border-bottom: 1px solid #ddd;
            font-size:14px;
            &>span{
                margin-right:10px;
            }

          }
          table {
            tr {
              td {
                font-size: 14px;
                color: #4a5a6a;
                border-right: 1px solid #ddd;
                // border-bottom: 1px solid #ddd;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                background:#f2f2f2;
                .priceunit{
                  color:green;
                  cursor: pointer;
                  padding:0 10px;
                }
                .unpriceunit{
                  color:blue;
                  cursor: pointer;
                  padding:0 10px;
                }
                .countTime{
                    margin-top:5px;
                    font-size:14px;
                    &/deep/.timeStr{
                      color:#df3f2f;
                        background:#fff;
                        margin:0;
                    }
                }
                
                .jieti{
                  padding:8px;
                  &>p{
                    line-height:30px;
                    border-bottom:1px dashed #999;
                  }
                }
              }
              .place{
                p{
                  font-size:12px;
                  line-height: 1.7;
                }
              }
              .wrapbtn{
                    &>div{
                        max-width:180px;
                      .btn{
                        &:hover{
                          font-weight: bold;
                        }
                      }
                    }
                }
              .goodsInfo{
                display:flex;
                align-items: center;
                .ImgE{
                  /deep/img{
                    width:100%;
                    height:100%;
                    max-width:80px;
                    max-height: 80px;
                  }
                }
                .detail{
                    margin-left:5px;
                    flex: 1;
                    text-align: left;
                    font-size:14px;
                    line-height:1.7;
                    .goodsname{
                      word-break: break-all;
                      cursor: pointer;
                      font-size:16px;
                    }
                }
              }

            }
          }
        }

  // 发货PI的模态框
  .logistics-PI {
    .avatar-uploader .el-upload {
      border: 1px dashed #4a5a6a;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      background: #efefef;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 102px;
      height: 102px;
      line-height: 102px;
      text-align: center;
    }

    .avatar {
      width: 102px;
      height: 102px;
      display: block;
    }
  }
