#topupDeposit {
    width: 70%;
    margin: 0 auto;

    >h3 {
        width: 100%;
        height: 80px;
        line-height: 80px;
        background: #fff;
        color: black;
        font-weight: bold;
        padding: 0 20px;
        box-sizing: border-box;
    }

    >div {
        width: 70%;
        margin: 20px auto;

        .topupAmount {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            >span {
                min-width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: right;
                padding-right: 20px;
                box-sizing: border-box;
            }

            >li {
                width: 19%;
                margin-right: 1%;
                border: 1px solid rgba(237, 239, 242, 1);
                text-align: center;
                line-height: 40px;
                margin-bottom: 10px;
            }

            .amountIndex {
                border: 1px solid rgba(42, 206, 128, 1);
            }
        }

        .topupType {
            display: flex;
            margin-bottom: 20px;
            >span {
                min-width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: right;
                padding-right: 20px;
                box-sizing: border-box;
            }

            >li {
                margin-right: 20px;
                border: 1px solid rgba(237, 239, 242, 1);
                padding: 0 14px;
                line-height: 40px;
                color: rgba(51, 60, 79, 1);
            }

            .active {
                border: 1px solid rgba(42, 206, 128, 1);
            }
        }
    }
}