// 商家信息列表
.MerchantList {
  width: 100%;
  // overflow: hidden;

  table {
    width: 100%;

    // overflow: hidden;
    
  }

  // 箭头
  .arrow-bar {
    width: 100%;
    background: #fff;
    overflow: hidden;


    p {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;

      span {
        font-size: 16px;
        color: #4a5a6a;
        font-weight: bold;

      }

      img {
        width: 27px;
        height: 15px;

        cursor: pointer;
      }
    }

  }

}