
.InquiryBasket{
    background: #F4F4F4;
    margin-top: 60px;
}
.banner {
    width: 100%;
    min-height:200px;
    // height: 275px;
    position: relative;
    img {
        width: 100%;
    }
    .text {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 40px;
        right: 90px;

        p {
            font-size: 36px;
            color: #fff;
            margin-bottom: 20px;
            text-align: right
        }

        .h3 {
            font-size: 48px;

        }
    }
}
.TabImageFoot{
    margin-top: 30px;
}
