.goodsStatus {
   width:100px;
    display: flex;
    align-items: center;
    >.applyStatus {
        color: #fff;
        width:100px;
        text-align: center;
        p {
            width:82px;
    
            font-size:14px;
            line-height: 28px;
            border-radius: 3px;
          
        }

        .failure {
            background-color: #bcbcbc!important;
        }

        .isApproved {
            background-color: #cc0000!important;
        }

        .noApproved {
            background-color: #ff9900!important;
        }
    }
}
.listContent {
    /deep/.counttime {
      .timeStr{
        background: none;
        padding:0;
        color:#df3f2f;

      }
    }
}
